// * {
//   box-sizing: border-box;
// }

@font-face {
  font-family: "ProductSans-regular";
  font-style: normal;
  font-weight: normal;
  src: url(../../fonts/Product-Sans-Regular.woff),
    url(../../fonts/Product-Sans-Regular.woff2);
}

@font-face {
  font-family: "ProductSans-bold";
  font-style: normal;
  font-weight: normal;
  src: url(../../fonts/Product-Sans-Bold.woff);
  src: url(../../fonts/Product-Sans-Bold.woff2);
}

$bright-orange: rgba(241, 98, 20, 1);
$less-bright-orange: rgba(241, 98, 20, 0.15);
$orange-hover: rgba(227, 80, 0, 1);
$gray-text: rgba(136, 136, 136, 1);
$bg-footer: rgba(245, 245, 245, 1);

$mobile-width: 375px;
$tablet-width: 768px;
$desktop-width: 1200px;

body {
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-family: "ProductSans-bold", sans-serif, serif;
  color: $gray-text;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  font-family: "ProductSans-regular", sans-serif, serif;
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

a.button {
  font-family: "ProductSans-bold", sans-serif, serif;
}

button {
  cursor: pointer;
}

.button {
  display: inline-block;
  position: relative;
  padding: 12px 60px 12px 17px;
  font-family: "ProductSans-bold, sans-serif, serif ";
  text-align: center;

  color: white;
  background-color: $bright-orange;
  border-radius: 54px;

  &::after {
    position: absolute;
    content: "";
    top: calc(50% - 20px);
    right: 5px;
    width: 40px;
    height: 40px;

    background: url(../../../img/btn-arrow.svg) center 50% no-repeat;
    background-color: white;
    border-radius: 50%;
  }
}

.button:hover,
.button:focus,
.button:active {
  background-color: rgba(227, 80, 0, 1);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 85%;
  margin: 0 auto;
}

@media (min-width: 1650px) {
  .container {
    width: 60%;
  }
}
@media (max-width: 768px) {
  .container {
    width: 90%;
  }
}

// ------------------------ page-header -------------------------

@media (max-width: 768px) {
  .page-header {
    margin-top: 30px;
  }
  .page-header__logo-wrapper {
    margin-bottom: 30px;
  }
}

.page-header__nav {
  width: 73%;

  min-height: 45px;
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 1650px) {
  .page-header__nav {
    width: 80%;
  }
}

@media (max-width: 1279px) {
  .page-header__nav {
    width: 70%;
    flex-direction: column;
    align-items: flex-start;
  }

  .page-header__logo {
    margin-bottom: 20px;
  }
}

@media (max-width: $tablet-width) {
  .page-header__nav {
    position: relative;
    display: none;
    width: 100%;
    align-items: center;
  }
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  width: 535px;
}

@media (max-width: 1279px) {
  .page-header__wrapper {
    width: 90%;
    flex-direction: column;
  }
}

@media (max-width: $tablet-width) {
  .page-header__wrapper {
    position: relative;
    width: 100%;
  }
  .page-header__wrapper--opened::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 23px;
    height: 4px;
    background-color: #000;
    border-radius: 5px;
    -webkit-box-shadow: 0 8px 0 0 #000, 0 16px 0 0 #000;
    box-shadow: 0 8px 0 0 #000, 0 16px 0 0 #000;
  }

  .page-header__wrapper--closed {
    &::before {
      content: "";
      position: absolute;
      top: 0;

      right: 0;
      width: 23px;
      height: 4px;
      transform: rotate(45deg);
      background-color: #000;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;

      right: 0;
      width: 23px;
      height: 4px;
      transform: rotate(-45deg);
      background-color: #000;
    }
  }
}

.page-header__list {
  display: flex;
  flex-wrap: wrap;

  color: #000;
}

@media (min-width: $mobile-width) and (max-width: $tablet-width) {
  .page-header__list {
    display: flex;
    flex-direction: column;
  }
}

.page-header__item {
  margin-right: 30px;
  margin-bottom: 10px;
}

.page-header__item a {
  &:hover {
    color: $bright-orange;
  }

  &:active {
    color: $bright-orange;
  }
}

.page-header__item--active a {
  color: $bright-orange;
  cursor: default;
  &:hover {
    color: $bright-orange;
  }
}

.page-header__item:nth-child(5n) {
  margin-right: 0;
}

@media (min-width: $mobile-width) and (max-width: $tablet-width) {
  .page-header__item {
    margin: 0;
    padding: 10px;
    a {
      border-bottom: 2px solid $bright-orange;
    }
  }
}

.btn {
  padding: 10px 10px;
  text-align: center;
  border-radius: 30px;
  background-color: $bright-orange;
  cursor: pointer;
  color: white;
  border: none;

  &:hover {
    background-color: rgba(227, 80, 0, 1);
  }
}

.page-header__register {
  align-self: baseline;
  word-wrap: break-word;
  padding: 0 10px;
  a {
    font-size: 16px;
    color: white;
  }
}

@media (max-width: 1279px) {
  .page-header__register {
    margin-top: 10px;
  }
}

.title {
  font-size: 40px;
  line-height: 50px;
  color: #000;
}
@media (max-width: $tablet-width) {
  .title {
    text-align: left;
    font-size: 35px;
    line-height: 40px;
    color: #000;
  }
}

@media (max-width: $tablet-width) {
  body {
    background-image: none;
  }
}

// ------------------------ section -------------------------

.section__position-title {
  text-align: center;
}

.section__name {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
  color: $bright-orange;
}

@media (max-width: $tablet-width) {
  .section__name {
    text-align: left;
  }
}

.section__title {
  margin: 0;
  margin-bottom: 59px;
}

@media (max-width: $tablet-width) {
  .section__title {
    text-align: left;
  }
}

// ------------------------ home -------------------------

.home {
  margin-bottom: 150px;
}

@media (max-width: 1279px) {
  .home {
    margin-bottom: 140px;
  }
}
@media (max-width: $tablet-width) {
  .home {
    margin-bottom: 100px;
  }
}

.home__wrapper {
  width: 570px;
  margin-bottom: 40px;
}

@media (max-width: $tablet-width) {
  .home__wrapper {
    width: 100%;
    margin-bottom: 40px;
  }
}

.home__title {
  width: 440px;
  margin: 0;
  margin-bottom: 5px;
  font-size: 60px;
  line-height: 75px;
}

@media (max-width: $tablet-width) {
  .home__title {
    width: 100%;
    margin: 0;
    margin-bottom: 5px;
    font-size: 45px;
    line-height: 50px;
  }
}

.home__description {
  margin-top: 10px;
  margin-bottom: 0;
}

.home__button {
  margin-top: 29px;
}

.home__image {
  position: absolute;
  width: 60%;
  top: 0;
  right: 0;
  z-index: -1;
}

@media (max-width: 1279px) {
  .home__image {
    width: 50%;
  }
}

@media (max-width: $tablet-width) {
  .home__image {
    display: none;
  }
}

// ------------------------ social -------------------------

.social {
  display: flex;
  flex-wrap: wrap;
  width: 570px;
  margin-bottom: 70px;
}

@media (min-width: $tablet-width) and (max-width: 1279px) {
  .social {
    margin-bottom: 100px;
  }
}

@media (max-width: $tablet-width) {
  .social {
    width: 100%;
  }
}

.social__item {
  text-align: center;
  width: 40px;
  height: 40px;
  margin-right: 23px;
  margin-bottom: 5px;
  background-color: $less-bright-orange;
  border-radius: 50%;
  cursor: pointer;
}

.social__item:hover {
  background-color: $bright-orange;

  path {
    fill: white;
  }
}

.social__link {
  display: inline-block;
  position: relative;
  top: 22%;
}

// ------------------------ contacts -------------------------

.contacts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;
  min-height: 217px;
  border-radius: 60px 0 60px 0px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@media (min-width: $tablet-width) and (max-width: 1279px) {
  .contacts {
    align-items: baseline;
    min-height: 0;
  }
}

@media (max-width: $tablet-width) {
  .contacts {
    display: block;
    padding: 15px 0;
    border-radius: 60px 0 60px 0px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}

.contacts__list {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 29%;
  text-align: center;
  margin-bottom: 23px;
  padding: 0 20px;
  border-right: 2px solid #dddddd;

  &:nth-child(3n) {
    border: 0;
  }
}

@media (min-width: $tablet-width) and (max-width: 1279px) {
  .contacts__list {
    width: 27%;
  }
}

@media (max-width: $tablet-width) {
  .contacts__list {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    text-align: center;
    margin-bottom: 23px;
    padding: 0;
    border: none;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.contacts__title {
  word-wrap: break-word;
  font-family: "ProductSans-bold", sans-serif, serif;
  margin-top: 0;
  margin-bottom: 6px;
  color: #000;
}

.contacts__description {
  word-wrap: break-word;
  margin: 0;
  font-size: 13px;
}

.icon {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 16px;
  border-radius: 50%;

  &--time {
    background: url(../../../img/icon-time.svg) center 50% no-repeat;
    background-color: $bright-orange;
  }

  &--location {
    background: url(../../../img/icon-location.svg) center 50% no-repeat;
    background-color: $bright-orange;
  }

  &--phone {
    background: url(../../../img/icon-phone.svg) center 50% no-repeat;
    background-color: $bright-orange;
  }

  &--qualityfull {
    background: url(../../../img/icon-qualityfull.svg) center 50% no-repeat;
    background-color: $less-bright-orange;
  }

  &--healthy {
    background: url(../../../img/icon-healthy.svg) center 50% no-repeat;
    background-color: $less-bright-orange;
  }

  &--delivery {
    background: url(../../../img/icon-delivery.svg) center 50% no-repeat;
    background-color: $less-bright-orange;
  }
}

// ------------------------ how-to-work -------------------------

.how-to-work {
  margin-bottom: 170px;
}

@media (max-width: 1279px) {
  .how-to-work {
    margin-bottom: 100px;
  }
}

.how-to-work__image-wrapper {
  position: relative;
}

@media (max-width: $tablet-width) {
  .how-to-work__image-wrapper {
    display: none;
  }
}

.how-to-work__image {
  position: absolute;
  width: 70%;
  top: -80px;
  left: -15%;
  z-index: -1;
}

@media (min-width: 1650px) {
  .how-to-work__image {
    position: absolute;
    width: 90%;
    top: -120px;
    left: -35%;
    z-index: -1;
  }
}

.how-to-work__wrapper {
  width: 50%;
  margin-bottom: 40px;
  margin-left: auto;
}

@media (max-width: 1279px) {
  .how-to-work__wrapper {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 1279px) {
  .how-to-work__name {
    width: 50%;
    margin-left: auto;
  }
}

@media (max-width: $tablet-width) {
  .how-to-work__name {
    width: 100%;
  }
}

.how-to-work__title {
  margin: 0;
  margin-bottom: 24px;
}

@media (max-width: 1279px) {
  .how-to-work__title {
    width: 50%;
    margin-left: auto;
  }
}

@media (max-width: $tablet-width) {
  .how-to-work__title {
    width: 100%;
    margin-left: 0;
  }
}

.how-to-work__description {
  margin: 0;
  margin-top: 10px;
}

@media (min-width: $tablet-width) and (max-width: 820px) {
  .how-to-work__description {
    margin-top: 7%;
  }
}

@media (max-width: $tablet-width) {
  .how-to-work__description {
    margin: 0;
    margin-top: 10px;
  }
}

@media (min-width: 821px) and (max-width: 1000px) {
  .how-to-work__title {
    margin-bottom: 10%;
  }
}

@media (min-width: 1001px) and (max-width: 1279px) {
  .how-to-work__wrapper {
    padding-top: 10%;
  }

  .how-to-work__title {
    margin-bottom: 10%;
  }
}

.how-to-work__button {
  margin-top: 29px;
}

// ------------------------ services -------------------------

.services {
  margin-bottom: 150px;
}

@media (max-width: 1279px) {
  .services {
    margin-bottom: 100px;
  }
}

.services__wrapper-advantages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media (max-width: $tablet-width) {
  .services__wrapper-advantages {
    display: block;
  }
}

.services__list {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 40px;
  margin-bottom: 28px;
  box-sizing: border-box;
  text-align: center;
  border: 2px Solid #eeeeee;
  border-radius: 60px 0 60px 0px;

  &:hover {
    border: none;
    box-shadow: 5px 15px 45px 0px rgba(0, 0, 0, 0.1);
    transition: 0.2s ease-in;
  }
}

@media (min-width: $tablet-width) and (max-width: 1279px) {
  .services__list {
    width: 45%;
  }
}

@media (max-width: $tablet-width) {
  .services__list {
    width: 100%;
    pad: 20px;
  }
}

.size {
  width: 80px;
  height: 80px;
}

.services__subtitle {
  font-size: 26px;
  color: #000;
}

// ------------------------ product -------------------------

.product {
  margin-bottom: 270px;
}

@media (min-width: $tablet-width) and (max-width: 1279px) {
  .product {
    margin-bottom: 100px;
  }
}

@media (max-width: $tablet-width) {
  .product {
    margin-bottom: 100px;
  }
}

.product__cards-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

@media (max-width: $tablet-width) {
  .product__cards-wrapper {
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-x: scroll;
    margin-bottom: 30px;
  }
}

.product__cards {
  width: 30%;
  margin-bottom: 30px;
  box-sizing: border-box;
  text-align: center;
  color: #000;
  border-radius: 60px 0 60px 0px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.07);

  &:hover {
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.3);
    transition: 0.2s linear;
  }
}

@media (min-width: $tablet-width) and (max-width: 1279px) {
  .product__cards {
    width: 45%;
  }
}

@media (max-width: $tablet-width) {
  .product__cards {
    min-width: 285px;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.product__image {
  width: 100%;
  border-radius: 60px 0 0 0;
  margin-bottom: 14px;
}

.product__group1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.product__dish {
  margin: 0;
  word-break: break-word;
  padding-right: 50px;
  font-family: "ProductSans-bold", sans-serif, serif;
  font-size: 24px;
}

@media (max-width: $tablet-width) {
  .product__dish {
    font-size: 18px;
  }
}

.product__rating {
  position: relative;
  width: 50px;
  font-size: 14px;
  text-align: end;

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: calc(50% - 15px);
    left: 0;
    background: url(../../../img/star.png) 50% 50% no-repeat;
  }
}

.product__group2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 20px;
}

.product__btn {
  font-family: "ProductSans-bold", sans-serif, serif;
  font-size: 14px;
}
@media (max-width: $tablet-width) {
  .product__btn {
    font-size: 12px;
  }
}

.product__price {
  font-size: 24px;
}

@media (max-width: $tablet-width) {
  .product__price {
    font-size: 22px;
  }
}

.product__button {
  text-align: center;
}

// ------------------------ order -------------------------

.order {
  position: relative;
  height: 370px;
  margin-bottom: 200px;
}

@media (max-width: $tablet-width) {
  .order {
    margin-bottom: 100px;
    height: 100%;
  }
}

.black-bg {
  background: url(../../../img/black-bg-order.png);
  padding: 7% 0 0 0;
  border-radius: 60px 0 60px 0;
}

@media (max-width: $tablet-width) {
  .black-bg {
    margin-left: -5.5%;
    margin-right: -5.5%;
    padding: 50px 20px 50px 20px;
  }
}

.order__wrapper-common {
  position: absolute;
  width: 96%;
  left: 4%;
}

@media (max-width: $tablet-width) {
  .order__wrapper-common {
    position: static;
    width: 100%;
    left: 0;
  }
}

.order__title {
  width: 40%;
  margin: 0;
  margin-bottom: 50px;
  color: white;
}

@media (min-width: $tablet-width) and (max-width: 1279px) {
  .order__title {
    width: 35%;
    margin-bottom: 3%;
  }
}

@media (max-width: $tablet-width) {
  .order__title {
    width: 100%;
    margin-bottom: 50px;
  }
}

.order__wrapper-content {
  display: flex;
  justify-content: space-between;
}

// @media (max-width: $tablet-width) {
//  .order__title {
//     width: 100%;
//     margin-bottom: 50px;
//   }
// }

.order__button-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 53%;
}

@media (max-width: $tablet-width) {
  .order__button-wrapper {
    width: 100%;
  }
}

.order__button {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  height: 80px;
  padding: 0 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  color: #000;
  background-color: white;
  border-radius: 13px;

  img {
    width: 37px;
    height: 40px;
    align-self: center;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    box-shadow: inset 0px 0 5px 2px rgba(0, 0, 0, 0.5);
    border: 1px solid #000;
  }
}

@media (max-width: $tablet-width) {
  .order__button {
    padding: 0 7px;
    margin-right: 10px;
  }
}

.order__text {
  min-width: 110px;
  margin: 0;
  align-self: center;
}

.up-text {
  font-size: 11px;
}

.down-text {
  font-family: "ProductSans-bold", sans-serif, serif;

  font-size: 20px;
}

.order__photo-menu {
  width: 277px;
  margin-top: -19%;
  margin-right: 40px;
  margin-left: 40px;
}

@media (max-width: $tablet-width) {
  .order__photo-menu {
    display: none;
  }
}

.order__photo-details {
  width: 277px;
  margin-top: -27%;
  margin-right: 40px;
}

@media (max-width: $tablet-width) {
  .order__photo-details {
    display: none;
  }
}

// ------------------------ testimonials -------------------------

.testimonials {
  margin-bottom: 100px;
}

.testimonials__image-wrapper {
  position: relative;
}

.testimonials__image {
  position: absolute;
  width: 28%;
  top: -80px;
  left: -10%;
  z-index: -1;
}

@media (min-width: 1279px) {
  .testimonials__image {
    width: 25%;
    top: -130px;
  }
}

@media (min-width: 1650px) {
  .testimonials__image {
    width: 37%;
    top: -130px;
    left: -34%;
  }
}

@media (max-width: $tablet-width) {
  .testimonials__image {
    width: 25%;
    top: -80px;
    left: 81%;
    transform: rotate(180deg);
  }
}

.section__position-title {
  margin-bottom: 50px;
}

.testimonials__title {
  margin: 0;
  margin-bottom: 24px;
}

.testimonials__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: $tablet-width) {
  .testimonials__wrapper {
    display: flex;
    flex-direction: column;
  }
}

.testimonials__left-wrapper {
  width: 50%;
  text-align: center;
}

@media (max-width: $tablet-width) {
  .testimonials__left-wrapper {
    width: 100%;
    margin-bottom: 30px;
  }
}

.testimonials__user-wrapper {
  display: flex;
  justify-content: center;
  min-width: 205px;
  margin-bottom: 44px;
}

.user {
  margin-left: 15px;
}

.user__name {
  font-family: "ProductSans-bold", sans-serif, serif;
  font-size: 16px;
  color: #000;
}

.user__post {
  font-size: 13px;
}

.testimonials__text {
  margin-top: 10px;
}

.testimonials__btn-wrapper {
  margin-top: 34px;
}

.testimonials__button {
  width: 50px;
  height: 50px;
  padding: 0;
  background-color: white;
  border-radius: 10px;
  border: none;
  border: Solid 2px #eeeeee;
  cursor: pointer;
}

.testimonials__button:hover {
  background-color: $bright-orange;
  border: none;

  path {
    fill: white;
  }
  line {
    stroke: white;
  }
}

.testimonials__button-next {
  margin-right: 30px;
}

.testimonials__right-wrapper {
  width: 50%;
}

.testimonials__dish {
  width: 100%;
}

@media (max-width: $tablet-width) {
  .testimonials__right-wrapper {
    width: 100%;
    text-align: center;
  }

  .testimonials__dish {
    width: 360px;
  }
}

// ------------------------ subscribe -------------------------

.subscribe {
  position: relative;
  height: 270px;
  margin-bottom: 100px;
}

@media (max-width: 1200px) {
  .subscribe {
    position: relative;
    height: 100%;
    padding: 20px 25px;
  }
}

.subscribe__wrapper {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  top: 0;
}

@media (max-width: 1200px) {
  .subscribe__wrapper {
    position: static;
    display: block;
    width: 100%;
  }
}

.subscribe__image-wrapper {
  width: 42%;
}

@media (max-width: 1200px) {
  .subscribe__image-wrapper {
    width: 200px;
    float: left;
    margin-right: 15px;
  }
}
@media (max-width: 767px) {
  .subscribe__image-wrapper {
    width: 130px;
  }
}

.subscribe__text-wrapper {
  width: 46%;
  margin-right: 30px;
  // padding-top: 50px;
  // padding-bottom: 50px;
}

@media (max-width: 1200px) {
  .subscribe__text-wrapper {
    width: 100%;
    margin-right: 0;
    padding-top: 16px;
    padding-bottom: 0;
  }
}

.subscribe__title {
  color: white;
  margin: 0;
}

.subscribe__description {
  margin: 0;
  margin-top: 15px;
}

.form {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-height: 50px;
  background-color: white;
  border-radius: 10px;
}

.subscribe__form {
  min-height: 60px;
  margin-top: 29px;
}

.form-input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 60px;
  outline: none;
}

.subscribe__input {
  padding-right: 145px;
}

.form-button {
  min-width: 40px;
  position: absolute;
  top: calc(50% - 20px);
  right: 5px;
  min-height: 40px;
  font-family: "ProductSans-bold", sans-serif, serif;
  text-transform: uppercase;
  color: white;
  background-color: $bright-orange;
  border: none;
  border-radius: 10px;

  &:hover {
    background-color: $orange-hover;
  }
}

.subscribe__button {
  min-width: 120px;
  top: calc(50% - 25px);
  height: 50px;
}

// ------------------------ footer -------------------------

.page-footer {
  min-height: 477px;
  background-color: #f5f5f5;
}

.page-footer__wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 100px 0 136px 0;

  section {
    width: 270px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    bottom: 0;
    background-color: #dddddd;
  }
}

@media (min-width: $tablet-width) and (max-width: 953px) {
  .page-footer__wrapper {
    justify-content: space-evenly;
  }
}

@media (max-width: 767px) {
  .page-footer__wrapper sect {
    justify-content: space-evenly;
  }
}

.weinsocial__logo {
  display: inline-block;
  margin-bottom: 24px;
}

.weinsocial__text,
.opening-hours__text,
.contact-us__text {
  margin-top: 10px;
  margin-bottom: 10px;
}

.weinsocial__social {
  // width: 270px;
  margin-top: 23px;
  margin-bottom: 10px;
}

// .opening-hours__text {
//   width: 216px;
// }

.opening-hours__title,
.user-link__title,
.contact-us__title {
  margin-top: 15px;

  margin-bottom: 46px;
  font-size: 22px;
  color: #000;
}

.opening-hours__text,
.user-link__item,
.contact-us__text {
  line-height: 28px;
}

.user-link__item a {
  font-family: "ProductSans-regular", sans-serif, serif;
  color: $gray-text;

  &:hover {
    color: $bright-orange;
    font-family: "ProductSans-bold", sans-serif, serif;
  }
}

.contact-us__text {
  width: 156px;
}

.contact-us__form {
  margin-top: 20px;
}

.page-footer__copyright {
  text-align: center;
}

.copyright {
  font-size: 15px;
}
