@font-face {
  font-family: ProductSans-regular;
  font-style: normal;
  font-weight: 400;
  src: url(../../fonts/Product-Sans-Regular.woff),url(../../fonts/Product-Sans-Regular.woff2)
}
@font-face {
  font-family: ProductSans-bold;
  font-style: normal;
  font-weight: 400;
  src: url(../../fonts/Product-Sans-Bold.woff);
  src: url(../../fonts/Product-Sans-Bold.woff2)
}
body {
  min-width: 375px;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-family: ProductSans-bold,sans-serif,serif;
  color: #888;
  background-image: url(../../../img/main-bg-sushi.png),url(../../../img/black-bg-body.png),url(../../../img/htw-bg-sushi.png);
  background-position: 100% 0,100% 0,-15% 1190px;
  background-repeat: no-repeat,no-repeat,no-repeat;
  background-size: 59%,41%,60%
}
img {
  max-width: 100%;
  height: auto
}
a {
  text-decoration: none;
  color: #000;
  cursor: pointer
}
ul {
  padding: 0;
  margin: 0;
  list-style: none
}
.button {
  display: inline-block;
  position: relative;
  padding: 12px 60px 12px 17px;
  font-family: ProductSans-bold;
  text-align: center;
  color: #fff;
  background-color: #f16214;
  border-radius: 54px
}
.button::after {
  position: absolute;
  content: "";
  top: calc(50% - 20px);
  right: 5px;
  width: 40px;
  height: 40px;
  background: url(../../../img/btn-arrow.svg) center 50% no-repeat;
  background-color: #fff;
  border-radius: 50%
}
.button:active,
.button:focus,
.button:hover {
  background-color: #e35000
}
.visually-hidden:not(:focus):not(:active),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden
}
.container {
  width: 1170px;
  margin: 0 auto
}
.font-fam {
  font-family: ProductSans-regular,sans-serif,serif
}
.page-header__nav {
  width: 847px;
  min-height: 45px;
  margin-top: 30px;
  margin-bottom: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.page-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 523px
}
.page-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-width: 413px;
  color: #000
}
.page-header__item {
  margin-right: 30px;
  margin-bottom: 10px
}
.page-header__item a:hover {
  color: #888
}
.page-header__item a:active {
  color: #f16214
}
.page-header__item--active a {
  color: #f16214;
  cursor: default
}
.page-header__item--active a:hover {
  color: #f16214
}
.page-header__item:nth-child(5n) {
  margin-right: 0
}
.btn {
  padding: 10px 10px;
  text-align: center;
  border-radius: 30px;
  background-color: #f16214;
  cursor: pointer;
  color: #fff;
  border: none
}
.btn:hover {
  background-color: #e35000
}
.page-header__register {
  -ms-flex-item-align: baseline;
  align-self: baseline;
  word-wrap: break-word;
  padding: 0 10px
}
.page-header__register a {
  font-size: 13px;
  color: #fff
}
.title {
  font-size: 40px;
  line-height: 49px;
  color: #000
}
.home {
  margin-bottom: 225px
}
.home__wrapper {
  width: 570px;
  margin-bottom: 40px
}
.home__title {
  width: 488px;
  margin: 0;
  margin-bottom: 5px;
  font-size: 75px;
  line-height: 91px
}
.home__description {
  font-family: ProductSans-regular,sans-serif,serif;
  margin-top: 10px;
  margin-bottom: 0
}
.home__button {
  margin-top: 29px
}
.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 570px;
  margin-bottom: 100px
}
.social__item {
  text-align: center;
  width: 40px;
  height: 40px;
  margin-right: 23px;
  margin-bottom: 5px;
  background-color: rgba(241,98,20,.15);
  border-radius: 50%;
  cursor: pointer
}
.social__item:hover {
  background-color: #f16214
}
.social__item:hover path {
  fill: #fff
}
.social__link {
  display: inline-block;
  position: relative;
  top: 22%
}
.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  min-height: 217px;
  border-radius: 60px 0 60px 0;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0,0,0,.25);
  box-shadow: 0 4px 4px 0 rgba(0,0,0,.25)
}
.contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  width: 385px;
  margin-bottom: 23px;
  min-height: 97px;
  text-align: center;
  border-right: 2px solid #ddd
}
.contacts__list:last-child {
  border: 0
}
.contacts__title {
  margin-top: 0;
  margin-bottom: 6px;
  color: #000
}
.contacts__description {
  margin: 0;
  font-size: 13px;
  font-family: ProductSans-regular,sans-serif,serif
}
.icon {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 16px;
  border-radius: 50%
}
.icon--time {
  background: url(../../../img/icon-time.svg) center 50% no-repeat;
  background-color: #f16214
}
.icon--location {
  background: url(../../../img/icon-location.svg) center 50% no-repeat;
  background-color: #f16214
}
.icon--phone {
  background: url(../../../img/icon-phone.svg) center 50% no-repeat;
  background-color: #f16214
}
.icon--qualityfull {
  background: url(../../../img/icon-qualityfull.svg) center 50% no-repeat;
  background-color: rgba(241,98,20,.15)
}
.icon--healthy {
  background: url(../../../img/icon-healthy.svg) center 50% no-repeat;
  background-color: rgba(241,98,20,.15)
}
.icon--delivery {
  background: url(../../../img/icon-delivery.svg) center 50% no-repeat;
  background-color: rgba(241,98,20,.15)
}
.how-to-work {
  margin-bottom: 225px
}
.how-to-work__wrapper {
  margin-left: auto
}
.how-to-work__subtitle {
  margin-top: 0;
  margin-bottom: 6px;
  font-size: 14px;
  color: #f16214
}
.how-to-work__title {
  width: 527px;
  margin: 0;
  margin-bottom: 24px
}
.how-to-work__description {
  font-family: ProductSans-regular,sans-serif,serif;
  margin: 0;
  margin-top: 10px
}
.how-to-work__button {
  margin-top: 29px
}
.services {
  margin-bottom: 197px
}
.product__wrapper__title,
.services__wrapper__title {
  text-align: center
}
.product__name,
.services__name {
  margin-top: 0;
  margin-bottom: 6px;
  font-size: 14px;
  color: #f16214
}
.product__title,
.services__title {
  margin: 0;
  margin-bottom: 59px
}
.services__wrapper__advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 370px;
  padding: 40px;
  margin-bottom: 23px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  border: 2px Solid #eee;
  border-radius: 60px 0 60px 0
}
.services__list:hover {
  border: none;
  -webkit-box-shadow: 5px 15px 45px 0 rgba(0,0,0,.1);
  box-shadow: 5px 15px 45px 0 rgba(0,0,0,.1);
  -webkit-transition: .2s ease-in;
  -o-transition: .2s ease-in;
  transition: .2s ease-in
}
.size {
  width: 80px;
  height: 80px
}
.services__subtitle {
  font-size: 26px;
  color: #000
}
.services__description {
  font-family: ProductSans-regular,sans-serif,serif
}
.product {
  margin-bottom: 330px
}
.product__cards__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 60px
}
.product__cards {
  width: 370px;
  margin-bottom: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  color: #000;
  border-radius: 60px 0 60px 0;
  -webkit-box-shadow: 0 4px 20px 0 rgba(0,0,0,.07);
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.07)
}
.product__cards:hover {
  -webkit-box-shadow: 0 4px 30px 0 rgba(0,0,0,.3);
  box-shadow: 0 4px 30px 0 rgba(0,0,0,.3);
  -webkit-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear
}
.product__image {
  border-radius: 60px 0 0 0;
  margin-bottom: 14px
}
.product__group1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 20px
}
.product__dish {
  margin: 0;
  word-break: break-word;
  padding-right: 50px;
  font-family: ProductSans-bold,sans-serif,serif;
  font-size: 24px
}
.product__rating {
  position: relative;
  width: 50px;
  font-size: 14px;
  text-align: end
}
.product__rating::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: calc(50% - 15px);
  left: 0;
  background: url(../../../img/star.png) 50% 50% no-repeat
}
.product__group2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 20px
}
.product__btn {
  font-family: ProductSans-bold,sans-serif,serif;
  font-size: 14px
}
.product__price {
  font-size: 24px
}
.product__button {
  text-align: center
}
.order {
  margin-bottom: 197px
}
.order__bg {
  height: 300px;
  padding: 86px 0 0 29px;
  border-radius: 60px 0 60px 0;
  background: url(../../../img/black-bg-order.png)
}
.order__title {
  width: 321px;
  margin: 0;
  margin-bottom: 50px;
  color: #fff
}
.order__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly
}
.order__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 220px;
  height: 80px;
  padding: 0 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  color: #000;
  background-color: #fff;
  border-radius: 13px
}
.order__button img {
  width: 37px;
  height: 40px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center
}
.order__text {
  min-width: 110px;
  margin: 0;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center
}
.up-text {
  font-size: 11px
}
.down-text {
  font-family: ProductSans-bold,sans-serif,serif;
  font-size: 20px
}
.order__photo-menu {
  width: 277px;
  margin-top: -32%;
  margin-right: 40px;
  margin-left: 40px
}
.order__img-menu {
  border-radius: 50px;
  -webkit-box-shadow: 20px 28px 30px -20px rgba(0,0,0,.15);
  box-shadow: 20px 28px 30px -20px rgba(0,0,0,.15)
}
.order__photo-details {
  width: 277px;
  margin-top: -27%;
  margin-right: 40px;
  border-radius: 50px;
  -webkit-box-shadow: 20px 28px 30px -20px rgba(0,0,0,.15);
  box-shadow: 20px 28px 30px -20px rgba(0,0,0,.15)
}